typing-extensions
pydantic>=2.0.0
pydantic-settings>=2.0.0
langchain
langchain_huggingface
langchain_core
langchain-community
langchain_text_splitters
langgraph
langchain-ollama
pypdf
sentence_transformers
ipython
python-dotenv
requests
black
mypy
pydocstring
ruff
sentence-transformers
